/*thin*/
@font-face {
    font-family: "mgenplus-2c";
    src: url('../font/mgenplus-2c-thin.ttf') format("truetype");
    font-weight: 100;
    font-style: normal;
}
/*light*/
@font-face {
    font-family: "mgenplus-2c";
    src: url('../font/mgenplus-2c-light.ttf') format("truetype");
    font-weight: 200;
    font-style: normal;
}
/*regular*/
@font-face {
    font-family: "mgenplus-2c";
    src: url('../font/mgenplus-2c-regular.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}
/*medium*/
@font-face {
    font-family: "mgenplus-2c";
    src: url('../font/mgenplus-2c-medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}/*bold*/
@font-face {
    font-family: "mgenplus-2c";
    src: url('../font/mgenplus-2c-bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}
/*heavy*/
@font-face {
    font-family: "mgenplus-2c";
    src: url('../font/mgenplus-2c-heavy.ttf') format("truetype");
    font-weight: 800;
    font-style: normal;
}
/*black*/
@font-face {
    font-family: "mgenplus-2c";
    src: url('../font/mgenplus-2c-black.ttf') format("truetype");
    font-weight: 900;
    font-style: normal;
}